name: Lint

on:
  push:
    branches-ignore:
      - 'main'
  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:
  lint:
    name: golangci-lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24'

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.59.0
          args: --timeout=5m
